{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <p>
            We provide a very different platform to express your feelings. Whatever 
            your minds thinks and if you want to share with somebody, just write it.
            Express your ideas no boundary is here!!!<br>

            We believe that sharing your knowledge to the world will increase your 
            knowledge and make your connection to the other peole so that you can have a very large friend circle.
        </p>
        <div class="text-center">
            <img src="/media/techblogging.jpg" class="img-fluid rounded" alt="blog image">
        </div>
        <br>
        <p>
            Please Join us... Thankyou!!!
        </p>
    </div>
{% endblock content %}
