{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <p>
            We provide a very different platform to express your feelings. Whatever 
            your minds thinks and if you want to share with somebody, just write it.
            Express your ideas no boundary is here!!!<br>

            We believe that sharing your knowledge to the world will increase your 
            knowledge and make your connection to the other peole so that you can have a very large friend circle.<br>

            Our platform provides the opportunity to explore yourself and enhance your productivity. It's a great
            opportunity to learn about a lot of things from the people around the world.<br>

            Please Joins us!!<br>
            Thanks!!!<br>
            From<br>
            <a class="text-muted text-decoration-none" href="https://myblogdiaryapp.herokuapp.com/">myblogdiaryapp</a> Team
        </p>
    </div>
{% endblock content %}
